.login {

    &__form {
        position: absolute;
        top: 5%;
        left: 63%;

        @include respond(mobile) {
            left: 20%;
        }

        & input {
            @include respond(mobile) {
                margin-left: 1.3rem;
            }
        }
    }

    &__not-yet {
        position: absolute;
        top: 87%;
        left: 58%;

        @include respond(tab-port-mini-x) {
            margin-top: 3rem;
            left: 61%;
        }

        @include respond(mobile) {
            top: 54%;
            left: 4%;
            margin-top: 2rem;
        }
    }
    
    &__svg {
        width: 52rem;
        transform: translateY(4rem);

        @include respond(tab-port-max) {
            width: 40rem;
        }

        @include respond(mobile) {
            display: none;
        }
    }

    &__realtors {
        background: $color-grey-light-1;
        width: 100%;
        height: 100vh;
        text-align: center;
        color: $color-primary;

        @include respond(tab-port-mini-x) {
            height: 70vh;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            position: relative;

            @include respond(mobile) {
                display: block;
                height: 100%;
            }
        }
    }
}